<%= form_for @user, :html => { :multipart => true }, remote: true, :authenticity_token => true do |f| %>
  <div class="form-group">
    <%= f.file_field :avatar %>
  </div>
    <%= f.submit(:class => "btn btn-primary") %>
<% end %>
